/* dist/boilerplate.hotlink.scss v1.2.0 Wed Feb 03 2021 09:59:58 GMT-0500 (Eastern Standard Time) */
/**
 * @file boilerplate.hotlink.scss
 */

/**
 * Hotlink (a button link to another slide and/or presentation).
 */
.hotlink {
  position: absolute;
  display: block;
  cursor: pointer;
}

