{% extends "layout.slide.html" %}

{% set body_class = "no-ssi no-sd no-ref no-fn" %}


{% block page %}

<style>
  .img--content {
  }

  [data-scrollable-sketch-id="10000"] {
    top: 185px;
    left: 97px;
    width: 847px;
    height: 340px;
  }
  .isi-copy {
    background-image: url("isi-copy.png");
    background-size: 100% 100%;
    width: 799px;
    height: 725px;  
  }    
</style>

<div class="img--content sprite"></div>
<div class="isi-copy sprite" data-scrollable data-sketch-id="10000"></div>

{% endblock %}

